#### Importa as bibliotecas

In [1]:
import pandas as pd
import sqlite3 as sql

In [ ]:
!pip install sqlite3
!pip install pandas

#### Especifica o nome do arquivo de dados e cria a conexão.

In [2]:
arquivo_bd = '/Users/rodrigosantanaferreira/Downloads/olist.db'

In [3]:
conexao = sql.connect(arquivo_bd)

In [4]:
conexao

#### Define a query a ser usada

In [5]:
query = '''SELECT *
           FROM ORDERS;
        '''

In [6]:
# imprime o conteudo da variavel query
print (query)

SELECT *
           FROM ORDERS;

#### Usa o pandas para criar um dataframe a partir da query em questão.

In [7]:
df = pd.read_sql_query(query, conexao)

In [8]:
# imprime as 100 primeiras linhas do dataframe
df.head(100)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
95,77e9941864fc840be8e4b1ba5347c0f7,3135962ee745ef39b85576df7ddbaa99,delivered,2018-08-03 08:59:39,2018-08-03 09:31:36,2018-08-03 10:10:00,2018-08-17 00:49:41,2018-08-27 00:00:00
96,41bb5cee06dbf170878a9ef93ac7e7f5,1833a0540067becaf59368fe4cd4303a,delivered,2018-05-14 08:35:33,2018-05-14 08:52:24,2018-05-16 14:46:00,2018-05-18 14:48:38,2018-06-08 00:00:00
97,6a0a8bfbbe700284feb0845d95e0867f,68451b39b1314302c08c65a29f1140fc,delivered,2017-11-22 11:32:22,2017-11-22 11:46:50,2017-11-27 13:39:35,2017-12-28 19:43:00,2017-12-11 00:00:00
98,f7959f8385f34c4f645327465a1c9fc4,0bf19317b1830a69e55b40710576aa7a,delivered,2017-03-30 07:50:33,2017-03-30 08:05:08,2017-03-30 10:55:54,2017-04-10 02:59:52,2017-04-26 00:00:00
99,23f553848a03aaab35bb3f9f87725125,c622b892a190735ef81c0087973fa16d,delivered,2018-06-05 09:10:34,2018-06-05 09:32:22,2018-06-06 15:37:00,2018-06-18 12:36:54,2018-07-23 00:00:00

In [9]:
df.describe()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
count,99441,99441,99441,99441,99441,99441,99441,99441
unique,99441,99441,8,98875,90734,81019,95665,459
top,ead4584d779958e7605fe628d3f253f0,41c584ea27753451d9bf606771103289,delivered,2018-08-02 12:06:07,,,,2017-12-20 00:00:00
freq,1,1,96478,3,160,1783,2965,522

**Cria uma nova query**

In [10]:
query2 = ''' SELECT PAYMENT_TYPE
                   ,AVG(PAYMENT_VALUE)
             FROM ORDER_PAYMENTS
             GROUP BY PAYMENT_TYPE;
         '''

**Consulta o banco de dados e cria um dataframe pandas**

In [11]:
df2 = pd.read_sql_query(query2, conexao)

**Imprime o dataframe**

In [12]:
df2.head()

  payment_type  AVG(PAYMENT_VALUE)
0       boleto          145.034435
1  credit_card          163.319021
2   debit_card          142.570170
3  not_defined            0.000000
4      voucher           65.703354