In [98]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('desafio1.csv')

### Analisando os Dados

In [128]:
df.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [5]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [32]:
df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

### Desafio: Gerar a Moda, Média, Mdiana e Desvio Padrão para cada um dos valores

In [171]:
# Para resolver o desafio, criei um novo df contendo as solicitações da media, std, mediana e moda. Devido o agg não aceitar o comando 'mode' 
#diretamente o caminho que eu segui para resolver essa questão foi criando uma série do pandas
df_resultado = df.groupby(['estado_residencia']).pontuacao_credito.agg([ pd.Series.mean, pd.Series.median, pd.Series.mode, pd.Series.std]).rename(columns={"mean": "media", "median": "mediana", "mode": "moda","std": "desvio_padrao"})

In [172]:
df_resultado

                        media  mediana  moda  desvio_padrao
estado_residencia
PR                 648.961294      650   850      98.607186
RS                 651.105143      650   850      95.136598
SC                 649.537653      653   850      97.233493

In [173]:
df_resultado['moda'] = df_resultado.moda.astype(float)
df_resultado['mediana'] = df_resultado.mediana.astype(float)

In [174]:
df_resultado = df_resultado.T

In [175]:
df_resultado.to_json('submission.json')